body {
  background: url(images/gtr.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 600px;
  background-size: contain;
}
.strings {
  margin-top: 160px;
}
 
.strings p {
    color: white;
    margin-left: 2px;
    font-size: 18px;
  }

  .strings kbd {
    color:black;
    padding: 4px;
    background-color: white;
  }



.string {
  width: 20px;
  height: 60px;
  border: 4px rgb(211, 103, 2) solid;
  margin: 15px;
  transition:all 0.09s;
  text-shadow: 0 0 5px black
}
.playing{
    transform: scale(1.1);
    border-color:  rgb(240, 255, 35);
    box-shadow: 0 0 10px #ffc600;
  }